In [1]:
import hkvfewspy as hkv
import pandas as pd
hkv.__version__

'0.5.9'

In [2]:
s = pd.Series(data=pd.np.random.randn(5), 
              index=pd.date_range(start='2018-01-01', periods=5, freq='D'),
              name='value')

df = pd.DataFrame(data=pd.np.random.randint(0, 100, size=(5,2)), 
                  index=pd.date_range(start='2018-01-01', periods=5, freq='D'),
                  columns=['value', 'flag'])

In [3]:
s.head()

2018-01-01   -0.325379
2018-01-02   -0.261394
2018-01-03   -0.409288
2018-01-04   -0.002793
2018-01-05   -0.272561
Freq: D, Name: value, dtype: float64

In [4]:
df.head()

            value  flag
2018-01-01      5    91
2018-01-02     35    95
2018-01-03     52    75
2018-01-04     77    81
2018-01-05     88     8

In [5]:
# define object
pi = hkv.pi

In [6]:
# create empty PI-TimeSeries object
series = pi.setPiTimeSeries()

In [7]:
# set two root objects
series.root.timeZone('gmt')
series.root.version('1.22')

# set a header comment
series.header.comment('this is an comment')
series.header.locationId('my_little_locationID')

In [8]:
# parse pandas.Series as events
series.events(s)

In [9]:
# show resulted PI-JSON object
series._pi_json

{'timeZone': 'gmt',
 'version': '1.22',
 'timeSeries': [{'header': {'comment': 'this is an comment',
    'locationId': 'my_little_locationID'},
   'events': '[{"date":"2018-01-01","value":-0.3253788795,"time":"00:00:00"},{"date":"2018-01-02","value":-0.2613939773,"time":"00:00:00"},{"date":"2018-01-03","value":-0.40928824,"time":"00:00:00"},{"date":"2018-01-04","value":-0.0027934986,"time":"00:00:00"},{"date":"2018-01-05","value":-0.2725607011,"time":"00:00:00"}]'}]}

In [10]:
# parse pandas.DataFrame as events
series.events(df)

In [11]:
# show resulted PI-JSON object
series._pi_json

{'timeZone': 'gmt',
 'version': '1.22',
 'timeSeries': [{'header': {'comment': 'this is an comment',
    'locationId': 'my_little_locationID'},
   'events': '[{"flag":91,"date":"2018-01-01","value":5,"time":"00:00:00"},{"flag":95,"date":"2018-01-02","value":35,"time":"00:00:00"},{"flag":75,"date":"2018-01-03","value":52,"time":"00:00:00"},{"flag":81,"date":"2018-01-04","value":77,"time":"00:00:00"},{"flag":8,"date":"2018-01-05","value":88,"time":"00:00:00"}]'}]}